@import './utils/breakpoints';
@import './utils/variables';
@import './utils/placeholder';
@import './base/normalize';
@import './base/global-styles';
@import './layout/visually-hidden';
@import './components/page-header';
@import './components/logo';
@import './components/page-studio/hero';
@import './components/btn';
@import './components/page-studio/section-benefits';
@import './components/page-studio/section-works';
@import './components/page-studio/section-team';
@import './components/social-network-icons';
@import './components/page-studio/section-clients';
@import './components/page-footer';
@import './components/page-studio/modal-window';
@import './components/page-portfolio/filter-btn';
@import './components/page-portfolio/projects-list';
