.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $color-secondary-accent;

    cursor: pointer;
    background-color: $color-accent;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color $duration $timing-function;

    &:hover,
    &:focus {
        background-color: $color-accent-btn;
    }
}

.hero__button {
    display: block;
    margin: 0 auto;
    padding: 10px 24px;

    @media screen and (min-width: $desktop) {
        padding: 10px 32px;
    }
}

.footer-form__btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 28px;
    padding-left: 31px;

    @media screen and (min-width: $desktop) {
        margin-left: 12px;
        margin-right: 0;
        padding-left: 28px;
    }
}

.btn__icon {
    margin-left: 12px;

    @media screen and (min-width: $desktop) {
        margin-left: 10px;
    }
}

.modal-form__btn {
    display: block;
    margin: 0 auto;
    padding: 10px 52px;
}
