body {
    padding-top: 60px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $color-primary;

    background-color: $color-primary-bg;

    @media screen and (min-width: $tablet) {
        padding-top: 80px;
    }
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: $mobile;

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
 
    &--worker {
        background-color: $color-third-bg;
    }
 
    @media screen and (max-width: $max-tablet) {
        &--hidden {
            display: none;
        }
    }

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;

        &--no-top-padding {
            padding-top: 0;
        }
        
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
    }
}