.social-networks-list {
    display: none;

    @media screen and (max-width: $max-mobile) {
        display: flex;
        flex-wrap: wrap;
    }

    @extend %list;
}

@media screen and (max-width: $max-mobile) {
    .social-networks-list__item:not(:last-child) {
        margin-right: 9px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    .social-networks-list__link {
        display: block;

        font-weight: 500;
        font-size: 10px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: $color-accent;

        @media screen and (min-width: $min-mobile) {
            font-size: 14px;
            letter-spacing: 0.02em;
        }

        @media screen and (min-width: $mobile) {
            font-size: 18px;
            letter-spacing: 0.02em;
        }
    }
}