$color-primary: #212121;
$color-secondary: #757575;

$color-accent: #2196f3;
$color-secondary-accent: #ffffff;
$color-accent-btn: #188ce8;
$color-primary-btn: #f5f4fa;

$color-adress-contact: rgba(255, 255, 255, 0.6);
$color-text-form: rgba(117, 117, 117, 0.5);

$color-icon: #000000;
$color-client-icon: #afb1b8;
$color-social-network-icon: #afb1b8;
$color-icon-bg: rgba(255, 255, 255, 0.1);

$color-primary-bg: #ffffff;
$color-secondary-bg: #2f303a;
$color-hero-bg: #c4c4c4;
$color-third-bg: #f5f4fa;
$color-works-bg: rgba(47, 48, 58, 0.8);

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$projects-set-gap: 30px;
$hero-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));